<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        {{ 'actions.' + customers.action | translate }} {{ 'resources.customers.title' | translate | singular }} : {{ customers.form.name }} {{ customers.form.firstName }} {{ customers.form.secondName }}
        <small></small>
    </h1>
    <div ncy-breadcrumb></div>
</section>

<!-- Main content -->
<section class="content">

<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header">
              <h3 class="box-title">{{ 'fields.profile' | translate }}</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <form ng-submit="customers.save()" role="form">
              <div class="box-body">
                
                <div class="row">
                  <div class="col-md-6">
                    <form-field type="text" model="customers.form.name" title="{{ 'fields.name' | translate }}"></form-field>
                  </div>
                  <div class="col-md-6">
                    <form-field type="text" model="customers.form.firstName" title="{{ 'fields.firstName' | translate }}"></form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <form-field type="text" model="customers.form.secondName" title="{{ 'fields.secondName' | translate }}"></form-field>
                  </div>
                  <div class="col-md-6">
                    <form-field type="text" model="customers.form.alias" title="{{ 'fields.alias' | translate }}"></form-field>
                  </div>
                </div>                                                                          
                
                <div class="row">
                  <div class="col-md-6">
                    <form-field type="text" model="customers.form.mobilePhone" title="{{ 'fields.mobilePhone' | translate }}"></form-field>                    
                  </div>
                  <div class="col-md-6">
                    <form-field type="text" model="customers.form.dni" title="{{ 'fields.dni' | translate }}"></form-field>
                  </div>
                </div>                                          

                <div class="row">
                  <div class="col-md-6">
                    <form-field type="email" model="customers.form.email" title="{{ 'fields.email' | translate }}"></form-field>
                  </div>
                  <div class="col-md-6"></div>
                </div>
                                
              </div><!-- /.box-body -->
              <div class="box-footer">
                <button type="submit" class="btn btn-primary pull-right">{{ 'actions.' + customers.action | translate }}</button>
              </div>
            </form>
          </div>
    </div>
</div>

</section><!-- /.content -->