<aside class="main-sidebar">    
    <section class="sidebar">
        <ul class="sidebar-menu">            
            <li ui-sref-active="active"><a ui-sref="Dashboard"><i class="fa fa-dashboard"></i> {{ 'resources.dashboard.title' | translate }}</a></li>
            <!-- <li ui-sref-active="active"><a ui-sref="IndexCustomers"><i class="fa fa-users"></i> {{ 'resources.customers.title' | translate }}</a></li> -->
            <!-- <li ui-sref-active="active"><a ui-sref="IndexEmployees"><i class="fa fa-male"></i> {{ 'resources.employees.title' | translate }}</a></li> -->
            <li ui-sref-active="active"><a ui-sref="IndexArticles"><i class="fa fa-cubes"></i> {{ 'resources.articles.title' | translate }}</a></li>
        </ul>
    </section>
</aside>